*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

body{
    overflow: hidden;
    margin: 0;
}


/* TITLE BAR  */

.title-bar{
    background-color: #107c41;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* MENU BAR */

.menu-bar{
    display: flex;
    height: 5vh;
    background-color: #107c41;
}

.menu-item{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    border-radius: 4%;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

.menu-item.selected{
    background-color: #fff;
    color: #107c41;
}

.menu-item:hover{
    background-color: #096332;
    cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}


/* MENU - ICONS BAR */

.menu-icon-bar{
    background-color: rgb(224, 222, 222);
    display: flex;
    align-items: center;
    height: 6vh;
}

.menu-icon{
    height: 100%;
    display: flex;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3.5px;
    border-radius: 10%;
    margin-right: 1px;
}

.menu-icon:hover{
    cursor: pointer;
    background-color: rgb(196, 195, 195);
}

.font-family-selector{
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Calibri";
    width: 190px;
    padding-left: 10px;
}
.font-size-selector{
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 15%;
    
}

.menu-icon.selected{
    background-color: rgb(173, 169, 169);
}

.align-icon.selected{
    background-color: rgb(173, 169, 169);
}

.color-picker{
    position: absolute;
    height: 6px;
    padding: 0px;
    width: 30px;
    left: 18px;
    top: 80%;
}

.cp-text{
    left: 28%;
    height: 6px;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 1px solid black;
}

.menu-icon{
    position: relative;
}

.clearSheet{
    font-family: "Consolas";
    font-weight:bold;
    margin: 0 30px 0 17px;
    padding: 5px;
    border-radius: 10%;
    font-size: 16px;
}

.clearSheet:hover{
    cursor: pointer;
    background-color: rgb(245, 133, 133);
}





/* FORMULA BAR */

.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 0.7rem;
    background-color: rgb(224, 222, 222);
}

.formula-editor{
    height: 70%;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 0 0.7rem;
}

.selected-cell{
    width: 120px;
}

.function-sign{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-input{
    width: calc(100% - 160px);
    outline-color: #107c41;
}


/* DATA CONTAINER  */

.data-container{
    height: 74vh;
    display: flex;
    flex-wrap: wrap;
}

.all-cells{
    border: 1px solid lightgray;
    height: 30px;
    width: 30px;
}

.row-name-container{
    border: 1px solid lightgray;
    width: 30px;
    height: calc(100% - 30px);
    overflow: hidden;
}

.rowName{
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    font-weight: bold;
}

.column-name-container{
    border: 1px solid lightgray;
    height: 30px;
    width: calc(100% - 30px);
    display: flex;
    overflow: hidden;
}

.colName{
    border-right: 1px solid lightgray;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;
}

.cell-container{
    border: 1px solid lightgray;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    overflow: scroll;
}

.cell-row{
    display: flex;
}


.input-cell{
    height: 25px;
    min-width: 100px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #107c41;
    overflow:hidden;
}

.input-cell.selected{
    border: 2px solid #107c41;
}

.input-cell.top-cell-selected{
    border-top: none;
}

.input-cell.bottom-cell-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected{
    border-right: 1px solid lightgray;
}

.input-cell.left-cell-selected{
    border-left: none;
}




/* SHEET BAR */

.sheet-bar{
    display: flex;
    align-items: center;
    height: 5vh;
}

.icon-left, .icon-right{
    font-size: 30px;
}

.icon-add{
    color: #107c41;
    width: 40px;
    margin-left: 50px;
    margin-right: 30px;
}

.icon-add:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.sheet-tab-container{
    width: calc(100vw - 120px);
    border: 1px solid lightgray;
    display: flex;
}

.sheet-tab{
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
}

.sheet-tab:hover{
    transform: scale(1.03);
    cursor: pointer;
    margin: 0 1px;
}

.sheet-tab.selected{
    border-bottom: 4px solid #107c41;
}

.sheet-tab.selected:hover{
    transform: scale(1);
    cursor: default;
    margin: 0;
}

